<div class=" bg-[#363636] h-[400px]">
    <div class=" text-center py-[20px]">
        <p class="text-4xl font-bold text-white my-[5px]">Trator</p>
    </div>
    <!--  -->
    <div class="grid grid-cols-4 my-[32px] mx-[150px]">
        <div class="w-[250px] h-[200px] " >
            <h1 class="text-[23px] text-[white]  font-semibold">Subscribe Now</h1>
            <p class="text-[18px] text-[white]  font-normal mt-[20px]">There are many variations of passages of Lorem Ipsum available,</p>
        </div>
        <!--  -->
        <div class="w-[250px]  h-[200px] ">
            <h1 class="text-[23px] text-[white]  font-semibold">Subscribe Now</h1>
            <p class="text-[18px] text-[white]  font-normal mt-[20px]">There are many variations of passages of Lorem Ipsum available, but the majority</p>
        </div>

        <div class="w-[250px]  h-[200px] ">
            <h1 class="text-[23px] text-[white]  font-semibold">Subscribe Now</h1>
            <p class="text-[18px] text-[white]  font-normal mt-[20px]">There are many variations of passages of Lorem Ipsum available, but the majority</p>
        </div>

        <div class="w-[250px]  h-[200px] ">
            <h1 class="text-[23px] text-[white]  font-semibold">Subscribe Now</h1>
            <p class="text-[18px] text-[white]  font-normal mt-[20px]">There are many variations of passages of Lorem Ipsum available, but the majority</p>
        </div>

        
    </div>

    <!--  -->
    <div class="text-center">
        <p class="text-[18px] text-[white]  font-light">2023 All Rights Reserved. Design by <span
                class="hover:text-[#FE5B29]">Free Html Templates</span> Distributed By <span
                class="hover:text-[#FE5B29]"> ThemeWagon</span></p>
    </div>
</div>