<div>
    <div class="bg-[#000000] h-[60px]">
        <h1 class="text-4xl font-bold text-[white]  pt-[5px] ml-[30px]">Trator
        </h1>
    </div>
    <div class="flex "> 
        <div class="h-auto w-[150px] bg-[#f57d38]">
            <nav>
                <ul >
                    <li class="my-[30px]"><a routerLink="" class="text-[20px] font-medium text-[white] mx-[20px] ">Home</a></li>
                    <li class="my-[30px]"><a routerLink="dashboard" class="text-[20px] font-medium text-[white] mx-[20px] ">Dashboard</a></li>
                    <li><a routerLink="../product" class="text-[20px] font-medium text-[white] mx-[20px] ">Admin</a></li>
                    <li class="my-[30px]"><a routerLink="../product/add" class="text-[20px] font-medium text-[white] mx-[20px] ">Admin Add</a></li>
                    <li class="my-[30px]"><a routerLink="" class="text-[20px] font-medium text-[white] mx-[20px] ">User</a></li>
                </ul>
            </nav>
        </div>
        <!-- end 1 -->

        <div  class=" ml-[10px] mt-[10px]">
            <!-- <app-admin /> -->
            <div>
                
                <div class="my-[20px]">
                    <h1 class="text-3xl font-semibold text-[#F57D38]">WELLCOM !!!</h1>
                    <p  class="text-xl font-semibold text-[#F57D38] mt-[10px]">Chào mừng bạn đến với trang Dashboard . Chúc bạn 1 ngày làm việc vui vẻ (^ . ^)</p>
                </div>
            </div>
        </div>
    </div>
</div>